<div class="login">
  <div class="container">
    <div class="row">
      <div class="login-main col-xs-12">
        <div class="login-img col-xs-6"></div>
        <div class="login-form col-xs-6">
          <h1>ログイン画面</h1>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
            <div class="field">
              <%= f.label :メールアドレス %><br />
              <%= f.email_field :email, autofocus: true, autocomplete: "email",class:"form-control input-lg" %>
            </div>

            <div class="field">
              <%= f.label :パスワード %><br />
              <%= f.password_field :password, autocomplete: "current-password",class:"form-control input-lg"%>
            </div></br>

            <div class="actions">
              <%= f.submit "ログインする", class:"btn btn-success btn-lg" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

