<!DOCTYPE html>
<html>
  <head>
    <title>Recommens</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://kit.fontawesome.com/dc8fdae1cf.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>
    <div class="container body-line">
      <div class="row">
        <div class="header-line">
          <%= render "layouts/header" %>
        </div>
      </div>
      <div class="row" style="margin-top: 150px;">
        <%= yield %>
      </div>
      <div class="row margin-top-sm">
        <footer></footer>
      </div>
    </div>
  </body>
</html>
